@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  font-family: "Fredoka";
}

body {
  margin: 0;
  background-color: #fffbea;
}

.fa-bars {
  position: absolute;
  top: 47px;
  left: 30px;
  font-size: 50px;
  color: #d6a99d;
}

.fa-magnifying-glass {
  position: absolute;
  top: 47px;
  right: 30px;
  font-size: 50px;
  color: #d6a99d;
}

#title-container {
  margin: 0;
  background-color: #fbf3d5;
  border-bottom: #f2e2c9 10px dotted;
}

#title {
  padding: 40px;
  margin: 0;
  font-size: 50px;
  color: #d6a99d;
  text-align: center;
}

#slogan {
  text-align: center;
  color: #d6b289;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 18px;
}

#time {
  text-align: center;
  color: #8d9f9a;
  margin: 30px 100px 0 100px;
  padding-bottom: 45px;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 5px dashed #d6dac8;
}

.subtitle {
  font-size: 45px;
  color: #d6a99d;
  text-align: center;
}

#about-container {
  margin: 50px 100px;
}

#brand-story {
  padding: 30px 20px;
  margin: 0 50px;
  background-color: rgb(221, 227, 211);
  border-radius: 60px;
  border: rgb(236, 240, 228) 10px solid;
  color: #8d9f9a;
  font-size: 30px;
  font-family: "Itim";
  text-align: center;
}

.section {
  margin: 70px;
  margin-bottom: 50px;
}

.button-detail {
  background-color: #d6a99d;
  color: #fbf3d5;
  text-align: center;
  margin: 20px 150px 40px 150px;
  padding: 2px 0;
  border-radius: 50px;
}

#recommended {
  background-color: #d6a99dc2;
  position: fixed;
  top: 280px;
  left: 0px;
  margin: 0;
  padding: 5px 20px;
  border-right: 30px solid #cd8c7b9e;
}

#title-rec {
  margin: 10px;
  font-size: 18px;
  color: #ffffff;
}

.menu-rec {
  font-size: 16px;
  color: #ffffff;
}

.name {
  font-size: 35px;
  font-weight: bold;
  color: #d6b289;
  margin: 15px;
}

.img-container {
  margin: 0;
  text-align: center;
}

.img-bakery {
  border: 15px solid #d6dac8;
  border-radius: 300px;
}

.price {
  font-size: 30px;
  font-weight: bold;
  color: #b39d83;
  margin: 0 0 10px 0;
}

.bakery-detail {
  font-family: "Itim";
  padding: 0 100px;
  color: #b39d83;
  font-size: 20px;
}

.sources {
  color: #b39d83;
  font-size: 18px;
  margin: 50px 100px;
  padding-top: 45px;
  border-top: 5px dashed #d6dac8;
}

#contact-details {
  margin: 0 50px;
}

.detail {
  font-size: 25px;
  font-weight: bold;
  color: #857562;
}

#title-source {
  font-size: 25px;
}

.url-source {
  font-size: 16px;
  margin: 10px 0;
}

.footer {
  margin: 0;
  padding: 30px 20px;
  background-color: #d6dac8;
  font-weight: bold;
  font-size: 25px;
  color: #9cafaa;
  text-align: center;
}

#text {
  font-size: 20px;
  font-weight: bold;
  color: #857562;
  margin-bottom: 20px;
  background-color: #d6dac8;
}

#review-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf4d9;
  padding: 30px 0;
  border-radius: 100px;
}

#review {
  width: 500px;
  height: 50px;
  font-size: 18px;
  padding: 10px;
  border: 2.5px solid #d6dac8;
  border-radius: 10px;
  margin-bottom: 20px;
  resize: none;
}

#submit {
  background-color: #d6a99d;
  color: #fbf3d5;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
}

span {
  font-family: Fredoka;
}

#menu-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 50px;
  padding: 50px 0 0 0;
  border-radius: 50px;
  border: 5px dashed #d6dac8;
  background-color: #fbf3d5;
}

#menu-details {
  margin: 0;
  width: 50%;
}

fieldset {
  margin: 0;
  width: 30%;
}

#contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#video-container {
  width: 25%;
  display: flex;
  justify-content: center;
}

video {
  width: 250px;
}

#map {
  width: 25%;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  #menu-details {
    width: 100%;
  }

  .section {
    margin: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1660px) {
  fieldset {
    width: 100%;
  }

  #brand-story {
    margin: 0 20px;
  }

  #video-container {
    width: 100%;
    margin-top: 50px;
  }

  #map {
    width: 100%;
    margin: 50px 0 0 0;
  }
}

#first-category-header {
  background-color: #fff2eb;
  border-bottom: #d6dac8 10px double;
}

#second-category-header {
  background-color: #fff2eb;
  border-bottom: #d6dac8 10px double;
}

#category-container {
  background-color: #fbf3d5;
  text-align: center;
  margin: 0 100px;
  padding: 20px 0;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#category-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: #f1e3c0 10px double;
  width: 100%;
  color: #c1ad9a;
}

.category-subtitle {
  font-size: 45px;
  color: #83665e;
  text-decoration: none;
}

#title-first-category {
  padding: 40px;
  margin: 0;
  font-size: 50px;
  color: #c59283;
  text-align: center;
}

#heart1-decoration {
  position: absolute;
  top: 20px;
  font-size: 40px;
  color: #d6a99d;
}

#heart2-decoration {
  position: absolute;
  margin-left: 30px;
  top: 5px;
  font-size: 30px;
  color: #d6a99d;
}

.best-seller-tag {
  position: absolute;
  background-color: #d17c65;
  padding: 15px;
  color: #fff7cf;
  margin-top: -350px;
  margin-left: -100px;
  font-size: 20px;
  border-radius: 30px;
}

#bread-container {
  background-color: #e8d4c1;
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  border: #f5e2d1 10px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cake-container {
  background-color: #e8d4c1;
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  border: #f5e2d1 10px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
